@using Paranovels.Common
@using Paranovels.ViewModels
@using Thi.Core
@model InlineEditForm<TagDetail>
@{
    Layout = null;
}
<div id="@(Model.InlineEditProperty)Container" class="inline-editor">
    <form id="@(Model.InlineEditProperty)Form" method="post" action="@Url.Action("Form")" enctype="multipart/form-data">
        
        <div class="form-group">
            @if (Model.InlineEditProperty == Model.PropertyName(m => m.Model.Description))
            {
            <label for="@Model.InlineEditProperty" class="sr-only">@Model.InlineEditProperty</label>
            <textarea id="@Model.InlineEditProperty" class="form-control" rows="2" name="@Model.InlineEditProperty" required>@Model.Model.Description</textarea>

            }
            else {
            <label>
                <input type="text" class="form-control" name="@Model.InlineEditProperty" required />
            </label>
            }
        </div>
        <div class="hidden">
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="hidden" name="InlineEditProperty" value="@Model.InlineEditProperty" />
        </div>
        <div class="form-group clearfix">
            <button id="@(Model.InlineEditProperty)Submit" type="submit" class="btn btn-primary"><i class="fa fa-saave"></i>Save</button>
            <button id="@(Model.InlineEditProperty)Cancel" type="button" class="btn btn-default"><i class="fa fa-times-circle"></i>Cancel</button>
        </div>
    </form>
</div>