@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
    <div class="well well-sm">
        <h2>Linked Social Accounts</h2>
        @foreach (var account in Model)
        {
            if (ViewBag.ShowRemoveButton)
            {
                using (Html.BeginForm("Disassociate", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.Hidden("loginProvider", account.LoginProvider)
                        @Html.Hidden("providerKey", account.ProviderKey)
                        <button type="submit" class="btn btn-default" title="Remove this @account.LoginProvider login from your account"><i class="fa fa-chain-broken"></i>@account.LoginProvider</button>
                    </div>
                }
            }
            else
            {
                @: &nbsp;
            }
        }
    </div>
}
