@using Microsoft.Owin.Security
@using Paranovels.Mvc.Models;
@using Microsoft.AspNet.Identity;

@model string
@{
    ViewBag.Title = "Manage Account";

    var tab = Model ?? "credentials";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}


<section class="section">
    <div class="header">
        <h1 class="title">
            <i class="fa fa-user"></i>@ViewBag.Title
        </h1>
    </div>
    <div class="content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="width: 100%;">
            <li role="presentation" class="@(tab == "credentials" ? "active" : "")"><a href="#credentials" aria-controls="credentials" role="tab" data-toggle="tab">Credentials</a></li>
            <li role="presentation"><a href="@Url.Action("Index","UserList")" aria-controls="other" role="tab" data-toggle="">My Lists</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="credentials" role="tabpanel" class="tab-pane @(tab == "credentials" ? "active" : "")">
                <div id="password">
                    @if (ViewBag.HasLocalPassword)
                    {
                        <h4>Change Password Form</h4>
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        <h4>Create Local Login</h4>
                        @Html.Partial("_SetPasswordPartial")
                    }
                </div>
                <div id="externallogin">
                    @Html.Action("RemoveAccountList")
                    @using (Html.BeginForm("LinkLogin", "Account", new { ReturnUrl = Request.RawUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                }
                            </p>
                        </div>
                    }
                </div>

            </div>
            <div id="other" role="tabpanel" class="tab-pane @(tab == "other" ? "active" : "")">
                <p>Placeholder for other features</p>
            </div>
        </div>
    </div>
</section>
