@using Paranovels.Common
@using Paranovels.DataModels
@using Thi.Core
@model Paranovels.ViewModels.SeriesDetail

@if (Model.ID > 0)
{
    <div class="content">
        <ul class="list-unstyled list-inline">
            <li><strong><i class="fa fa-list-alt"></i>Your lists:</strong></li>
            @foreach (var item in Model.UserLists)
            {
                var connector = Model.Connectors.SingleOrDefault(w => w.ConnectorType == R.ConnectorType.SERIES_USERLIST && w.TargetID == item.ID) ?? new Connector { IsDeleted = true };
                <li class="action connect toggle" data-toggle='{"target":"#add@(item.ID), #remove@(item.ID)"}' data-connect='{ "ID": @(connector.ID), "ConnectorType": @R.ConnectorType.SERIES_USERLIST, "SourceID": @Model.ID, "TargetID": @item.ID, "IsDeleted": "@(connector.IsDeleted == false)" }' role="button">
                    <div id="remove@(item.ID)" title="Remove from @item.Name" class="animated zoomIn" style="@(connector.IsDeleted == false ? "" : "display:none;")">
                        <span class="fa" style="@(item.IsColorIcon ? string.Format("color:{0};",item.Color.ToColorHex()) : "")">&#xf@(Convert.ToString(item.Icon, 16).PadLeft(3, '0'));</span>Remove from @item.Name
                    </div>
                    <div id="add@(item.ID)" title="Add to @item.Name" class="animated zoomIn" style="@(connector.IsDeleted == false ? "display:none;" : "")">
                        <span class="fa opacity-03" style="@(item.IsColorIcon ? string.Format("color:{0};",item.Color.ToColorHex()) : "")">&#xf@(Convert.ToString(item.Icon, 16).PadLeft(3, '0'));</span>Add to @item.Name
                    </div>
                </li>
            }
            @if (Model.UserLists == null || !Model.UserLists.Any())
            {
                <li><a href="/userlist">You don't have a list yet. <i class="fa fa-plus-circle"></i>Add new list</a></li>
            }
            else
            {
                <li><a href="/userlist"><i class="fa fa-plus-circle"></i>Add new list</a></li>
            }
        </ul>
    </div>
}
