@using Paranovels.Common
@using Paranovels.DataModels
@using Paranovels.ViewModels
@using Thi.Core
@model Thi.Core.PagedList<GroupGrid>
@{
    ViewBag.Title = "Translations Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sortedModel = new SortedModel
    {
        Sorted = Request.QueryString["sorted"] ?? "new",
        SortOptions = Model.Data.AsQueryable().SortOptions()
    };
}
@section CurrentMenu
{
    <section class="menu-section">
        <h2 class="menu-section-title">Current</h2>
        <ul class="menu-section-list">
            <li><a href="#add-container" class="action toggle" data-toggle='{ "target": "#add-container"}' role="button"><i class=" fa fa-plus"></i>Add new group</a></li>
            <li><a href="#search-container" class="action toggle" data-toggle='{ "target": "#search-container"}' role="button"><i class="fa fa-search"></i>Search groups</a></li>
        </ul>
    </section>
}

<div class="section">
    <div class="header">
        <a href="/" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
           @ViewBag.Title
        </h1>
        <a class="action right toggle" data-toggle='{ "target": "#search-container"}'><i class="fa fa-search"></i></a>
        <a class="action right toggle" data-toggle='{ "target": "#add-container"}'><i class="fa fa-plus-circle"></i></a>
    </div>
    @{ Html.RenderPartial("_Search", Request.QueryString.ToCriteria<GroupCriteria>()); }
    <div id="add-container" class="form" style="@(Request.QueryString["do"] == "add" ? "display:block;" : "display:none;")">
        @{ var formModel = new GroupForm(); }
        <form class="" method="POST" action="@Url.Action("Form")" enctype="multipart/form-data" data-form-ajax='{}'>
            <div class="form-group">
                <label id="label-name" for="name">Enter group name</label>
                <input id="name" name="@formModel.PropertyName(m => m.Name)" type="text" class="form-control" placeholder="Enter group name" aria-labelledby="label-name" required />
            </div>
            <div class="form-group">
                <label id="label-url" for="url">Enter group website url</label>
                <input id="url" name="@formModel.PropertyName(m => m.Url)" type="url" class="form-control" placeholder="Enter group website url" aria-labelledby="label-url" required />
            </div>
            <div class="form-group clearfix">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Add Group</button>
                <button type="button" class="btn btn-default action toggle" data-toggle='{ "target": "#add-container"}'><i class="fa fa-times-circle"></i>Cancel</button>
            </div>
        </form>
    </div>
    <div class="content">
        @{
            Html.RenderPartial("_Sorted", sortedModel);
        }
    </div>
    <ul class="grid">
        @foreach (var item in Model.Data)
        {
            var summarize = new Summarize
            {
                ID = item.ID,
                SourceID = item.ID,
                SourceTable = R.SourceTable.GROUP,
                QualityCount = item.QualityCount.GetValueOrDefault(),
                QualityScore = item.QualityScore.GetValueOrDefault()
            };
            var latestRelease = item.Releases.OrderByDescending(o => o.Date).FirstOrDefault() ?? new Release();
            <li class="row-list">
                <div class="col-first">
                    @if (item.Voted.HasValue)
                    {
                        <div class="vote @(item.Voted.GetValueOrDefault() == 1 ? "likes" : item.Voted.GetValueOrDefault() == -1 ? "dislikes" : "")">
                            <div class="action vote-up" data-vote='{"SourceID": @item.ID, "SourceTable": @R.SourceTable.GROUP, "Vote": 1}'><i class="fa fa-chevron-up"></i></div>
                            <div class="score @((item.VoteUp + item.VoteDown) < 0 ? "dislikes" : "likes")">@(item.VoteUp.GetValueOrDefault() - item.VoteDown.GetValueOrDefault())</div>
                            <div class="action vote-down" data-vote='{"SourceID": @item.ID, "SourceTable": @R.SourceTable.GROUP, "Vote": -1}'><i class="fa fa-chevron-down"></i></div>
                        </div>
                    }
                </div>
                <div class="col-content">
                    <div>
                        <a href="@Url.Action("Detail", new{ ID = item.GroupID, Seo = item.Name.ToSeo() })">@item.Name</a>
                    </div>
                    <div>@item.About</div>
                    <ul class="list-unstyled list-inline">
                        <li title="Updated Date">
                            <i class="fa fa-calendar"></i>@item.UpdatedDate.FormatDate()
                        </li>
                        <li title="Status">
                            <i class="fa fa-certificate"></i>@Html.Raw(item.Status.Translate(R.GroupStatus.Translate).FormatString())
                        </li>
                        <li title="Comments">
                            <i class="fa fa-comments-o"></i><a href="@Url.Action("Detail", "Group", new {ID = item.GroupID, Seo = item.Name.ToSeo()})#comments">@item.CommentCount.GetValueOrDefault() comments</a>
                        </li>
                        <li title="Rating">
                            <i class="fa fa-diamond" title="@(item.QualityRated == 0 ? "You haven't  rated this" : string.Format("You rated {0:0.0} star(s)", item.QualityRated/2))"></i>@RatingHelper.DisplayRating(summarize)
                        </li>
                        @if (latestRelease.ID > 0)
                        {
                            <li title="Latest Release">
                                <i class="fa fa-rss"></i><a href="@Url.Action("Detail", "Release", new {latestRelease.ID, Seo = latestRelease.Title})">@Html.Raw(latestRelease.Title.FormatString())</a>
                            </li>
                        }       
                    </ul>
                </div>
            </li>
        }
    </ul>
    @Html.Raw(Model.ToPagination(Request.RawUrl, 0))
</div>

