@using Paranovels.Common
@using Paranovels.DataModels
@using Paranovels.ViewModels
@using Thi.Core
@model Paranovels.ViewModels.ReleaseDetail
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // needed in case release doesnot have summarize yet!
    Model.Summarize.SourceID = Model.ReleaseID;
}


<section class="section">
    <div class="header">
        <a href="javascript:history.go(-1);" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            @Model.Title
        </h1>
    </div>
    @{ Html.RenderPartial("~/Views/UserList/_AddSeriesToList.cshtml", new SeriesDetail { SeriesID = Model.SeriesID, UserLists = Model.UserLists, Connectors = Model.Connectors }); }
    <div class="content">
        <div class="detail-group">
            <strong class="sr-only">Summary</strong>
            <div>
                @Html.Raw(Model.Summary.FormatString(0, 20, "No summary available. Click on 'Edit' to help us update it."))
                @Html.ImproveThis(m => m.Summary)
            </div>
        </div>
        <div class="detail-group">
            <strong>Release Title</strong>
            <div>
                @Model.Title
                @Html.ImproveThis(m => m.Title)
            </div>
        </div>
        <div class="detail-group">
            <strong>Release Url</strong>
            <div>
                <a href="@Url.Action("Out", "Release", new { ID = Model.ReleaseID, Url = Model.Url, Seo = Model.Title.ToSeo() })">@Model.Url</a>
                @Html.ImproveThis(m => m.Url)
            </div>
        </div>
        <div class="detail-group">
            <strong>Release Date</strong>
            <div>
                @Html.Raw(Model.Date.FormatDate())
                @Html.ImproveThis(m => m.Date)
            </div>
        </div>
        <div class="detail-group">
            <strong>Rating</strong>
            <div>@RatingHelper.DisplayRating(Model.Summarize)</div>
        </div>
        <div class="detail-group">
            <strong>Series Title</strong>
            <div>
                @if (Model.SeriesID > 0)
                {
                    <a href="@Url.Action("Detail", "Series", new { ID = Model.SeriesID, Seo = Model.Series.Title.ToSeo() })">@Model.Series.Title</a>
                }
                else
                {
                    <text>No series linked to this release yet! Do you know the title of this series? Click on 'Edit' to help us update it.</text>
                }
                @Html.ImproveThis(m => m.SeriesID)
            </div>
        </div>
        <div class="detail-group">
            <strong>Translations Group</strong>
            <div>
                @if (Model.GroupID > 0)
                {
                    <a href="@Url.Action("Detail", "Group", new {ID = Model.GroupID, Seo=Model.Group.Name.ToSeo()})">@Model.Group.Name</a>
                }
                else
                {
                    <text>No group linked to this release yet! Do you know whose translated this series? Click on 'Edit' to help us update it.</text>
                }
                @Html.ImproveThis(m => m.GroupID)
            </div>
        </div>
    </div>

</section>

<section class="section">
    <div class="content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#comments" aria-controls="home" role="tab" data-toggle="tab">Comments (@Model.Summarize.CommentCount)</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="comments">
                @{
                    Html.RenderAction("Index", "Comment", new CommentCriteria { SourceID = Model.ReleaseID, SourceTable = R.SourceTable.RELEASE, Sorted = Request.QueryString["sorted"] });
                }
            </div>
        </div>
    </div>
</section>
