@using Paranovels.Common
@using Thi.Core
@model Paranovels.ViewModels.NovelForm
@{
    ViewBag.Title = "Start new project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="header">
        <a href="/" class="action left" role="button"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            @ViewBag.Title
        </h1>
    </div>

    <div class="content" id="novelApp">
        <p class="alert alert-info">To start a new project entered all the information below. Additional information can be update after the project created.</p>
        <form class="" method="POST" action="@Url.Action("Form")" data-form-ajax='{}'>
            <div id="entry" class="well well-md">
                <div class="form-group">
                    <label id="labeltitle" for="title">Enter title</label>
                    <input id="title" name="@Model.PropertyName(m=>m.Title)" type="text" class="form-control" placeholder="Enter title" aria-labelledby="labeltitle" required />
                </div>
                <div class="form-group">
                    <label id="labelcoverimage" for="title">Cover image <small>(only accept .jpg, .png image)</small></label>
                    <input id="coverimage" name="Image" type="file" accept=".jpg,.png" class="form-control" placeholder="Upload cover image" aria-labelledby="labelcoverimage" />
                </div>
                <div class="form-group">
                    <label id="labelsynopsis" for="synopsis">Enter synopsis</label>
                    <textarea id="synopsis" name="@Model.PropertyName(m=>m.Synopsis)" class="form-control" rows="5" placeholder="Enter content" aria-labelledby="labelsynopsis" required></textarea>
                </div>
                <div class="form-group">
                    <label id="labeltype" for="type">Select project type</label>
                    <select id="type" name="@Model.PropertyName(m=>m.Type)" class="form-control" required pattern="\d+">
                        <option value="">Project type</option>
                        @foreach (var item in R.NovelType.Translate)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label id="labelrawlanguage" for="rawlanguage">Select original language</label>
                    <select id="rawlanguage" name="@Model.PropertyName(m=>m.RawLanguage)" class="form-control" required pattern="\d+">
                        <option value="">Original language</option>
                        @foreach (var item in R.Language.Translate)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label id="labelfinallanguage" for="finallanguage">Select translated language <small>(if this is an original or fan fiction select same lanauge as original language)</small></label>
                    <select id="finallanguage" name="@Model.PropertyName(m=>m.FinalLanguage)" class="form-control" required pattern="\d+">
                        <option value="">Translated language</option>
                        @foreach (var item in R.Language.Translate)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="form-group clearfix">
                    <strong class="col-xs-12 no-padding">
                        Check all steps that you would want to go through with this project
                    </strong>
                    <div class="col-xs-12 form-control">

                        <label class="checkbox-inline">
                            <input type="checkbox" name="@Model.PropertyName(m=>m.IsEnabledTranslator)" />
                            Translating
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" name="@Model.PropertyName(m=>m.IsEnabledEditor)" />
                            Editing
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" name="@Model.PropertyName(m=>m.IsEnabledProofreader)" />
                            Proofreading
                        </label>

                    </div>
                </div>
                <div class="form-group clearfix">
                    <strong class="col-xs-12 no-padding">
                        Would you like to turn on crowd translation for this project?
                    </strong>
                    <div class="col-xs-12 form-control">

                        <label class="radio-inline">
                            <input type="radio" name="@Model.PropertyName(m=>m.IsEnabledCrowdTranslation)" value="true" />
                            Enable crowd translation
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="@Model.PropertyName(m => m.IsEnabledCrowdTranslation)" value="false" />
                            Disable crowd translation
                        </label>

                    </div>
                </div>
                <div class="form-group clearfix">
                    <strong class="col-xs-12 no-padding">
                        Sharing level
                    </strong>
                    <div class="col-xs-12 form-control">
                        @foreach (var item in R.ShareLevel.Translate)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="@Model.PropertyName(m => m.SharingLevel)" value="@item.Key" />
                                @item.Value
                            </label>
                        }
                    </div>
                </div>
                <div class="hidden">
                    <input type="hidden" name="@Model.PropertyName(m=>m.Status)" value="@R.TranslationStatus.ACTIVE" />
                </div>
                <div class="form-group margin-top-10px">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Submit</button>
                    <button type="button" class="btn btn-default" onclick="history.go(-1);"><i class="fa fa-times-circle"></i>Cancel</button>
                </div>
            </div>

        </form>

    </div>
</section>
