@using Microsoft.Ajax.Utilities
@using Paranovels.Common
@using Paranovels.ViewModels
@using Thi.Core
@model NovelDetail
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js {
    <script>
        window.pnHooks.push(function () {
            require(['jquery', 'angular', 'marked'], function ($, angular, marked) {
                'use strict';

                $('[data-marked').each(function () {
                    $(this).html(marked('\n\n' + $(this).html())).addClass('animated fadeIn').show();
                    console.log($(this).text());
                    console.log(marked($(this).text()));
                });
            });
        });
    </script>
}
<section class="section">
    <div class="header">
        <a href="@Url.Action("Index")" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            @Model.Title
        </h1>
    </div>
    <div class="content">
        <div class="detail-group improve-img">
            <img src="@Model.ImageUrl.ToGoogleDriveImageUrl()" class="center-block img-responsive" title="@Model.Title's cover image" />
            @Html.ImproveThis(m => m.ImageUrl)
        </div>
        <div class="detail-group">
            <strong class="sr-only">Synopsis</strong>
            <div>
                @Model.Synopsis
                @Html.ImproveThis(m => m.Synopsis)
            </div>
        </div>
        <div class="detail-group">
            <strong>Status</strong>
            <div>
                @Html.Raw(Model.Status.Translate(R.TranslationStatus.Translate))
                @Html.ImproveThis(m => m.Status)
            </div>
        </div>
        <div class="detail-group">
            <strong>Last Updated Date</strong>
            <div>
                @Html.Raw(Model.UpdatedDate.FormatDate())
                @Html.ImproveThis(m => m.UpdatedDate)
            </div>
        </div>
        <div class="detail-group">
            <strong>Total Chapter</strong>
            <div>
                @Html.Raw(Model.TotalChapter.FormatInt())
                @Html.ImproveThis(m => m.TotalChapter)
            </div>
        </div>
        <div class="detail-group">
            <strong>Released Date</strong>
            <div>
                @Html.Raw(Model.ReleasedDate.FormatDate())
                @Html.ImproveThis(m => m.ReleasedDate)
            </div>
        </div>
        @if (Model.Status == R.TranslationStatus.COMPLETED)
        {
            <div class="detail-group">
                <strong>Completed Date</strong>
                <div>
                    @Html.Raw(Model.CompletedDate.FormatDate())
                    @Html.ImproveThis(m => m.CompletedDate)
                </div>
            </div>
        }
    </div>
</section>
<section class="section">
    <div class="content">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#toc" aria-controls="toc" role="tab" data-toggle="tab">Table of contents</a>
            </li>
            <li role="presentation">
                <a href="#glossary" aria-controls="glossary" role="tab" data-toggle="tab">Glossary</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="toc">
                <ul class="list-unstyled">
                    @foreach (var chapter in Model.Chapters.OrderBy(o => o.Volume).ThenBy(o=>o.Number))
                    {
                        <li><a href="@Url.Action("Detail","Chapter", new{ ID=chapter.ChapterID, Seo = chapter.Title.IfNullOrWhiteSpace("no title").ToSeo() })">Volume @(chapter.Volume) Chapter @(chapter.Number) - @chapter.Title</a></li>
                    }
                </ul>
                <p>
                    <a href="@Url.Action("Add", "Chapter", new { NovelID = Model.NovelID, Number = Model.Chapters.OrderByDescending(o=>o.Volume).ThenByDescending(o => o.Number).Select(s => s.Number).FirstOrDefault() + 1 })">
                        <i class="fa fa-plus-circle"></i>Add new chapter
                    </a>
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="glossary">
                .
            </div>
        </div>
    </div>
</section>
