@using Paranovels.Common
@using Thi.Core
@model Thi.Core.PagedList<Paranovels.DataModels.Novel>
@{
    ViewBag.Title = "Novels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="header">
        <a href="/" class="action left"><i class="fa fa-chevron-circle-left"></i></a>
        <h1 class="title">
            @ViewBag.Title
        </h1>
        <a class="action right" href="@Url.Action("Add")"><i class="fa fa-plus-circle"></i></a>
    </div>
    <ul class="grid">
        @foreach (var item in Model.Data)
        {
            <li class="row-list">
                <div class="col-image">
                    <a href="#" class="">
                        <img src="@item.ImageUrl.ToGoogleDriveImageUrl()" class="img-rounded" title="@item.Title's cover image" />
                    </a>
                </div>
                <div class="col-content">
                    <div>
                        <a href="@Url.Action("Detail", new { ID = item.ID, Seo = item.Title.ToSeo() })">@item.Title</a>
                    </div>
                    <div>@item.Synopsis</div>
                    <ul class="list-unstyled list-inline">
                        <li title="Status"><i class="fa fa-certificate"></i>@item.Status.Translate(R.TranslationStatus.Translate)</li>
                        <li class="divider divider-pipe divider-black"></li>
                        <li title="Updated Date"><i class="fa fa-calendar"></i>@item.UpdatedDate.FormatDate()</li>
                        <li class="divider divider-pipe divider-black"></li>
                        <li title="Latest Release"><i class="fa fa-rss"></i>@item.Status.Translate(R.TranslationStatus.Translate)</li>
                    </ul>
                </div>
            </li>
        }
    </ul>
    @Html.Raw(Model.ToPagination(Request.RawUrl))
</section>