@using Paranovels.Common
@using Paranovels.DataModels
@using Paranovels.ViewModels
@using Thi.Core
@model InlineEditForm<AuthorDetail>
@{
    Layout = null;
}
@if (!User.Identity.IsAuthenticated)
{
    Html.RenderPartial("_InlineEditorUnauthorizedPartial");
    return;
}
<div id="@(Model.InlineEditProperty)Container" class="inline-editor">
    <form id="@(Model.InlineEditProperty)Form" method="post" action="@Url.Action("Form")" enctype="multipart/form-data">
        <div class="form-group">
            @if (Model.InlineEditProperty == Model.PropertyName(m => m.Model.Name))
            {
                <label for="@Model.InlineEditProperty" class="sr-only">Name</label>
                <input id="@Model.InlineEditProperty" type="text" class="form-control" name="@Model.InlineEditProperty" value="@Model.Model.Name" required />
            }
            else if (Model.InlineEditProperty == Model.PropertyName(m => m.Model.Akas))
            {
                var aka = Model.Model.Akas.SingleOrDefault(w => w.ID == int.Parse(Request.QueryString["AkaID"] ?? "0")) ?? new Aka();
                <label for="@Model.InlineEditProperty" class="sr-only">Associated Name</label>
                <input id="@Model.InlineEditProperty" type="text" class="form-control" name="@(Model.InlineEditProperty)[0].@aka.PropertyName(m => m.Text)" value="@aka.Text" required />
                <div class="@(aka.ID > 0 ? "margin-top-10px" : "hidden")">
                    <input type="hidden" class="form-control" name="@(Model.InlineEditProperty)[0].@aka.PropertyName(m=>m.ID)" value="@aka.ID" required />
                </div>
            }
            else if (Model.InlineEditProperty == Model.PropertyName(m => m.Model.ImageUrl))
            {
                <label>
                    <input type="file" name="image" required />
                </label>
                <input type="hidden" name="ImagePath" value="/Fanslations/Authors/@Model.Model.Name" />
            }
            else if (Model.InlineEditProperty.Contains("Url"))
            {
                <label>
                    <input type="url" class="form-control" name="@Model.InlineEditProperty" required />
                </label>
            }
            else
            {
                <label>
                    <input type="text" class="form-control" name="@Model.InlineEditProperty" required />
                </label>
            }
        </div>
        <div class="hidden">
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="hidden" name="InlineEditProperty" value="@Model.InlineEditProperty" />
        </div>
        <div class="form-group clearfix">
            <button id="@(Model.InlineEditProperty)Submit" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>

            <button id="@(Model.InlineEditProperty)Cancel" type="button" class="btn btn-default"><i class="fa fa-times-circle"></i>Cancel</button>
        </div>
    </form>
</div>